<script type="text/javascript">

  window.samuraiCuteImg = "<%= asset_path('cute-samurai.png') %>"
  window.samuraiGate = "<%= asset_path('torii-gate.png') %>"
</script>

<div id="root">
  <h1>React No Work :(</h1>
  
</div>
