/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* .app {
  display: flex;
} */

html {
  background-color: blanchedalmond;
}

li {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-img {
  z-index: 2;
}

.home a {
  position: relative;
  bottom: 35vh;
  z-index: 3;
}

.nav-bar {
  background-color: #026aa7;
  height: 40px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  box-shadow: 0 0 10px rgb(53, 53, 53);
}

header .logo {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: whitesmoke;
  align-self: center;
  font-size: 22px;
  margin-left: 5px;
}

header .logo-div {
  align-self: center;
}

.logo-img {
  width: 40px;
  display: block;
  left: 50%;
  opacity: 0.9;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.logo-img:hover {
  opacity: 1;
}

.nav-btn {
  color: white;
  text-align: center;
  padding: 7px 5px;
  text-decoration: none;
  background-color: #009adc;
  border-radius: 5px;
  text-shadow: none;
  white-space: nowrap;
  margin-right: 5px;
}

.nav-btn:hover {
  background-color: #00618a;
}

.nav-bar-btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* login/signup forms */

.session-form {
  flex-direction: column;
  background-color: aliceblue;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  height: 350px;
}

.session-form h2 {
  margin: 0;
}

.session-form h3 {
  align-self: flex-end;
  margin-bottom: 0px;
}
.session-form h3:hover {
  cursor: pointer;
  color: rgb(147, 0, 0);
}

.session-form label {
  font-size: 16px;
}

.session-form input {
  height: 38px;
  margin-bottom: 7px;
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
  font-size: 20px;
}
.login-buttons {
  display: flex;
}

.login-buttons button {
  width: 50%;
}

.samurai-img {
  z-index: 10;
  width: 500px;
}

#img-bot {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.session-form button {
  height: 22px;
  width: 100%;
  margin-top: 5px;
}

.session-form li {
  color: red;
  font-size: 12px;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.school-select-form {
  display: flex;
  background-color: aliceblue;
  flex-direction: column;
  margin: auto;
  max-width: 500px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 3vh;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(53, 53, 53);
}

.school-select-form h2 {
  align-self: center;
}

.school-select-form ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.school-select-form li {
  list-style: none;
  padding: 5px;
  width: 33%;
  text-align: center;
  color: white;
  background: #009adc;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.school-select-form .liActive {
  background: #00618a;
}

.school-select-form li:hover {
  background: #00618a;
  cursor: pointer;
}

.school-select-form select {
  width: 165px;
  align-self: center;
  height: 22px;
}

.school-select-form button {
  width: 165px;
  align-self: center;
  height: 22px;
  margin-bottom: 20px;
}

/* autocomplete styling */

.autocomplete-list {
  position: relative;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: 100%;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 1;
  background-color: aliceblue;
  box-sizing: border-box;
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #009adc;
  color: aliceblue;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

.no-suggestions {
  z-index: 1;
  position: absolute;
  left: 0;
  color: red;
}

.select-course-form input {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

/* myCourses class */

.my-course-section:hover {
  cursor: pointer;
}

/* sidebar */

.sidebar {
  display: flex;
  background-color: aliceblue;
  flex-direction: column;
  max-width: 250px;
  padding: 10px;
  height: 75vh;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 3vh;
  /* margin-left: 3vh; */
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(53, 53, 53);
}

/* checkbox component */
.check-box-component,
.generate-schedules {
  display: flex;
  background-color: aliceblue;
  flex-direction: column;
  padding: 10px;
  height: 75vh;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 3vh;
  margin-left: 3vh;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(53, 53, 53);
  width: 65%;
  min-width: 25vh;
}

/* .select-section,
.generate-schedules {
  display: flex;
  background-color: aliceblue;
  flex-direction: column;
  width: 100vh;
  padding: 10px;
  height: 75vh;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 3vh;
  margin-left: 3vh;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(53, 53, 53);
} */

.schedule-view,
.add-courses {
  display: flex;
  justify-content: center;
}

.days-container,
.calendar-rows {
  display: flex;
}

.days,
.daily-schedule {
  width: 18%;
  position: relative;
}
.days {
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
}

.course-div {
  position: absolute;
  width: 100%;
  z-index: 2;
  text-align: center;
}

/* calendar stuff */
.left-schedule-time-div {
  width: 50px;
  box-sizing: border-box;
}

#time-div-top {
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  border-bottom-style: dotted;
}

#time-div-bottom {
  border-style: solid;
  border-width: 0px 1px 1px 1px;
}
#time-div-blank {
  border-style: solid;
  border-width: 0px 1px 1px 0px;
}
