/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* .app {
  display: flex;
} */

html {
  background-color: blanchedalmond;
}

body {
  margin: 0;
  padding: 0;

  font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
  background-color: #026aa7;
  height: 40px;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-content: center;
  vertical-align: middle;
}

header .logo {
  position: relative;
  top: 15%;
  overflow: hidden;
  text-decoration: none;
  color: whitesmoke;
  padding-left: 4px;
}

header .logo:hover {
  color: lightslategrey;
}
.logo-img {
  width: 20px;
  position: relative;
  top: 10%;
}

.nav-btn {
  color: white;
  text-align: center;
  padding: 7px 5px;
  text-decoration: none;
  background-color: #009adc;
  border-radius: 5px;
  text-shadow: none;
}

.nav-btn:hover {
  background-color: lightslategrey;
}

.nav-bar-btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 4px;
}

.session-form {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  width: 250px;
  height: 250px;
  margin: auto;
  border-radius: 5px;
}
