/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* .app {
  display: flex;
} */

html {
  background-color: blanchedalmond;
}

li {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
  background-color: #026aa7;
  height: 40px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  box-shadow: 0 0 10px rgb(53, 53, 53);
}

header .logo {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: whitesmoke;
  align-self: center;
  font-size: 22px;
  margin-left: 5px;
}

header .logo-div {
  align-self: center;
}

.logo-img {
  width: 40px;
  display: block;
  left: 50%;
  opacity: 0.9;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.logo-img:hover {
  opacity: 1;
}

.nav-btn {
  color: white;
  text-align: center;
  padding: 7px 5px;
  text-decoration: none;
  background-color: #009adc;
  border-radius: 5px;
  text-shadow: none;
  white-space: nowrap;
  margin-right: 5px;
}

.nav-btn:hover {
  background-color: #00618a;
}

.nav-bar-btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* login/signup forms */

.session-form {
  flex-direction: column;
  background-color: aliceblue;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  height: 350px;
  /* -webkit-box-shadow: 0 0 10px rgb(53, 53, 53);
  box-shadow: 0 0 10px rgb(53, 53, 53); */
}

.session-form h2 {
  margin: 0;
}

.session-form h3 {
  align-self: flex-end;
}
.session-form h3:hover {
  cursor: pointer;
}

.session-form label {
  font-size: 16px;
}

.session-form input {
  height: 22px;
  margin-bottom: 7px;
  width: 99%;
  padding: 0px;
}

.session-form button {
  height: 22px;
  width: 100%;
}

.session-form li {
  color: red;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.school-select-form {
  display: flex;
  background-color: aliceblue;
  flex-direction: column;
  margin: auto;
  /* width: 66%; */
  /* padding: 5%; */
  max-width: 500px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.school-select-form h2 {
  align-self: center;
}

.school-select-form ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.school-select-form li {
  list-style: none;
  padding: 5px;
  width: 40%;
  color: white;
  background: #009adc;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.school-select-form .liActive {
  background: #00618a;
}

.school-select-form li:hover {
  background: #00618a;
  cursor: pointer;
}

.school-select-form select {
  width: 165px;
  align-self: center;
  height: 22px;
}

.school-select-form button {
  width: 165px;
  align-self: center;
  height: 22px;
}

/* autocomplete styling */

.autocomplete-list {
  position: relative;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 1;
  background-color: aliceblue;
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #009adc;
  color: aliceblue;
  cursor: pointer;
  font-weight: 700;
  /* position: absolute;
  top: 0;
  right: 0; */
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

.select-course-form input {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 300px;
}

/* myCourses class */

.my-course-section:hover {
  cursor: pointer;
}
